# Service serving host:port
TELLSTORIESAI_HOST="127.0.0.1"
TELLSTORIESAI_PORT="8000"

# Model Selection and Fallback Configuration
PRIMARY_MODEL="deepseek"  # Options: deepseek, qwen, openrouter
# fallback order separated by comma. Only configure this if you configure the api keys
MODEL_FALLBACK_ORDER="deepseek,openrouter,qwen"

# Model configuration
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_API_KEY="YOUR_DEEPSEEK_API"
# Option: Use Qwen model
USE_QWEN_MODEL="false"  # if true, then use qwen-max model(expensive); if false, then use deepseek model
DASHSCOPE_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
DASHSCOPE_API_KEY="YOUR_QWEN_API"
# Option: Use OpenRouterAI
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"
OPENROUTER_API_KEY="YOUR_OPENROUTER_API"


# Voice Generate Service
# CosyVoice 2 service; running locally
COSYVOICE2_HOST="127.0.0.1"
COSYVOICE2_PORT="50000"

# # Extra VA folders: must start with VA_FOLDER_
# VA_FOLDER_1="data/your_own_va_folder"

MAX_TOKENS_PER_SPLIT=4000